.cat {
    position: relative;
    width: 100%;
    max-width: 20em;
    overflow: hidden;
    background: #ee9ca7;
}

.cat::before {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.cat:hover > * {
    animation-play-state: paused;
}

.cat:active > * {
    animation-play-state: running;
}

/* Base compartida */
.cat__head,
.cat__tail,
.cat__body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: rotating 2.79s cubic-bezier(.65, .54, .12, .93) infinite;
}

.cat__head::before,
.cat__tail::before,
.cat__body::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 50%;
    background-size: 200%;
    background-repeat: no-repeat;
    background-image: url('/assets/images/animations/loader.png');
}

/* HEAD */
.cat__head::before {
    top: 0;
    right: 0;
    background-position: 100% 0%;
    transform-origin: 0% 100%;
    transform: rotate(90deg);
}

/* TAIL */
.cat__tail {
    animation-delay: 0.2s;
}

.cat__tail::before {
    left: 0;
    bottom: 0;
    background-position: 0% 100%;
    transform-origin: 100% 0%;
    transform: rotate(-30deg);
}

/* BODY */
.cat__body {
    animation-delay: 0.1s;
}

.cat__body:nth-of-type(2) {
    animation-delay: 0.2s;
}

.cat__body::before {
    right: 0;
    bottom: 0;
    background-position: 100% 100%;
    transform-origin: 0% 0%;
}

/* Animación */
@keyframes rotating {
    from {
        transform: rotate(720deg);
    }
    to {
        transform: none;
    }
}

/* Layout */
.box {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ee9ca7;
}

/* Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    line-height: 1.4;
    
}

/* Texto */
.intro {
    width: 90%;
    max-width: 36rem;
    padding-bottom: 1rem;
    margin: 0 auto 1em;
    padding-top: .5em;
    font-size: calc(1rem + 2vmin);
    text-transform: capitalize;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
    text-align: center;
}

.intro small {
    display: block;
    opacity: .5;
    font-style: italic;
    text-transform: none;
}

.info {
    margin: 0;
    padding: 1em;
    font-size: .9em;
    font-style: italic;
    font-family: serif;
    text-align: right;
    opacity: .5;
}

.info a {
    color: inherit;
}
