* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: black;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    padding: 10px;
}

.container-sorprise {
    padding: 20px;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

img#mapa-estelar {
    width: 30%;
}

img#spotify-code {
    width: 30%;
}

h1 {
    color: #d0d0d0;
    font-family: "PT Sans", sans-serif;
    font-style: italic;
    font-weight: 100;
    margin: 10px 0px;
}

h2 {
    color: #d0d0d0;
    font-family: "Betania Patmos", cursive;
    font-weight: 700;
    font-style: normal;
    margin: 10px 0px;
}

.coordenadas {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-;
}

.coordenadas p {
    margin: 10px 0px;
    font-family: "Betania Patmos", cursive;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
}

.container-data {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-spotify {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Formato movil*/
@media screen and (max-width: 450px) {
    img#mapa-estelar {
        width: 90%;
    }

    h1 {
        text-align: center;
    }

    .coordenadas {
        margin-top: 10px;
    }

    .coordenadas p {
        margin: 5px 0px;
    }

    img#spotify-code {
        width: 50%;
    }
}